<!-- Breadcrumb Start -->
<div class="breadcrumb-wrap">
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="/e-commerce">Home</a></li>
            <li class="breadcrumb-item"><a href="/e-commerce/product-list">Products</a></li>
            <li class="breadcrumb-item active">{{productData?.name}}</li>
        </ul>
    </div>
</div>

<!-- Product Detail Start -->
<div class="product-detail">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8">
                <div class="product-detail-top">
                    <div class="row align-items-center">
                        <div class="col-md-5">
                            <div class="product-slider-single normal-slider">
                                <img src="../../../assets/picture/{{productData?.image}}" alt="Product Image">

                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="product-content">
                                <div class="title">
                                    <h1 style="text-align: 100px !important;">{{productData?.name}}</h1>
                                </div>
                                <div class="ratting">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <div class="price">
                                    <h4>Price:</h4>
                                    <p>{{productData.price| currency:'VND'}} </p>
                                </div>
                                <div class="quantity">
                                    <h4>Quantity:</h4>
                                    <div class="qty">
                                        <button class="btn-minus"><i class="fa fa-minus" (click)="decrease()"></i></button>
                                        <input type="text" value="{{count}}">
                                        <button class="btn-plus"><i class="fa fa-plus" (click)="increase()"></i></button>
                                    </div>
                                </div>
                                <div class="action">
                                    <button class="btn btn-ecommerce2" style="height: px;" href="#"
                                        (click)="addToCart(productData)"><i class="fa fa-shopping-cart"></i>Add to
                                        Cart</button>
                                    <button class="btn btn-ecommerce2" href="#"><i class="fa fa-shopping-bag"></i>Buy
                                        Now</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="row product-detail-bottom">
                    <div class="col-lg-12">
                        <ul class="nav nav-pills nav-justified">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="pill" href="#description"
                                    style="text-align: center;">
                                    <h1>Thông tin sản phẩm</h1>
                                </a>
                            </li>
                        </ul>

                        <div class="tab-content">
                            <div id="description" class="container tab-pane active">
                                <h3>{{productData.details}}</h3>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="product">
                    <div class="section-header">
                        <h1>Related Products</h1>
                    </div>

                    <div class="row align-items-center product-slider product-slider-3">
                        <div class="col-lg-3">
                            <div class="product-item">
                                <div class="product-title">
                                    <a href="#">Product Name</a>
                                    <div class="ratting">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                </div>
                                <div class="product-image">
                                    <a href="product-detail.html">
                                        <img src="../../../assets/img/product-10.jpg" alt="Product Image">
                                    </a>
                                    <div class="product-action">
                                        <a href="#"><i class="fa fa-cart-plus"></i></a>
                                        <a href="#"><i class="fa fa-heart"></i></a>
                                        <a href="#"><i class="fa fa-search"></i></a>
                                    </div>
                                </div>
                                <div class="product-price">
                                    <h3><span>$</span>99</h3>
                                    <a class="btn" href=""><i class="fa fa-shopping-cart"></i>Buy Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Side Bar Start -->
            <div class="col-lg-4 sidebar">
                <div class="sidebar-widget category">
                    <h2 class="title">Loại</h2>
                    <nav class="navbar bg-light">
                        <ul class="navbar-nav">
                            <li class="nav-item" *ngFor="let item of listCategory ">
                                <a class="nav-link" href="#">
                                    <h4>{{item.name}}</h4>
                                </a>
                            </li>

                        </ul>
                    </nav>
                </div>
            </div>
            <!-- Side Bar End -->
        </div>
    </div>
</div>
<!-- Product Detail End -->
<style>
    .btn-ecommerce2 {
        color: #FF6F61;
        background: #ffffff;
        border: 1px solid #FF6F61;
        border-radius: 5px;
        margin: 5px;
    }

    .btn-ecommerce2:hover,
    .btn-ecommerce2:active,
    .btn-ecommerce2:focus {
        color: #ffffff;
        background: #FF6F61;
        box-shadow: none;
    }
</style>