# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# dependencies
/node_modules

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

#conflict
API/API.csproj
API/Data/Migrations/SellingFurnitureContextModelSnapshot.cs
API/Data/SellingFurnitureContext.cs
API/SellingFurniture.db
API/bin/Debug/net5.0/API.dll
API/bin/Debug/net5.0/API.exe
API/bin/Debug/net5.0/API.pdb
API/bin/Debug/net5.0/ref/API.dll
API/obj/API.csproj.nuget.dgspec.json
API/obj/API.csproj.nuget.g.props
API/obj/Debug/net5.0/API.assets.cache
API/obj/Debug/net5.0/API.csproj.CoreCompileInputs.cache
API/obj/Debug/net5.0/API.csproj.FileListAbsolute.txt
API/obj/Debug/net5.0/API.csprojAssemblyReference.cache
API/obj/Debug/net5.0/API.dll
API/obj/Debug/net5.0/API.pdb
API/obj/Debug/net5.0/apphost.exe
API/obj/Debug/net5.0/ref/API.dll
API/obj/project.assets.json
API/obj/project.nuget.cache
API/obj/Debug/net5.0/API.csprojAssemblyReference.cache
