.login
{
    background-color: rgb(255,0,0);
    height: 465pt;
}

.container
{
    width: 100%;
}
h1{
    margin-top: 8px;
    font-weight: 900;
}
.html
{
    background-color: chartreuse;
}
.col-lg-12
{
    vertical-align: auto;
    background-color: blue;
    margin: 10% 0px 0px 0px  ;

    width: 100%;
}
input.ng-invalid
{
    border-left: 5px solid red;
}

input.ng-valid
{
    border-left: 5px solid green;
}

.error
{
    color: red;
}

.col-md-6
{
    margin-bottom: 18px;
}

.col-md-12
{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
button
{
    height: 40px;
    color: #FF6F61;
    background: #ffffff;
    border: 1px solid #FF6F61;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 20px;
    
}

button:hover
{
    color: #ffffff;
    background: #FF6F61;
    box-shadow: none;
}

button[disabled] { 
    pointer-events: none;


}



