<div class="login">
  <h1 style="text-align: center; font-size: 100px">Login Page</h1>
  <br />
  <div class="container-fluid">
    <form class="login-form center" [formGroup]="formModel" autocomplete="on" (submit)="login(formModel)">
      <div class="form-group center">
        <label>E-mail / Username</label>
        <input class="form-control" type="text" placeholder="Username" formControlName="UserName" />
        <mat-error *ngIf="
            formModel.get('UserName')?.touched &&
            formModel.get('UserName')?.errors?.required
          ">Tài khoản không được bỏ trống</mat-error> 
      </div>
      <div class="form-group center">
        <label>Password</label>
        <input class="form-control" type="password" placeholder="Password" formControlName="Password" />
        <mat-error *ngIf="
            formModel.get('Password')?.touched &&
            formModel.get('Password')?.errors?.required
          ">Mật khẩu không được bỏ trống</mat-error>
      </div>
      <div class="form-group center">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="newaccount" />
          <label class="custom-control-label" for="newaccount">Keep me signed in</label>
        </div>
      </div>
      <div class="col-md-12">
        <button class="btn-ecommerce">Log in</button>
      </div>
    </form>
  </div>
</div>