<!-- Main Slider Start -->
<div class="header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <nav class="navbar bg-light">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="fa fa-home"></i>Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="fa fa-shopping-bag"></i>Best Selling</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="fa fa-plus-square"></i>New Arrivals</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="fa fa-female"></i>Fashion & Beauty</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="fa fa-child"></i>Kids & Babies Clothes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="fa fa-tshirt"></i>Men & Women Clothes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="fa fa-mobile-alt"></i>Gadgets & Accessories</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="fa fa-microchip"></i>Electronics & Accessories</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-md-5">
                <ngb-carousel>
                    <ng-template ngbSlide>
                        <div class="picsum-img-wrapper">
                            <img src="../../../assets/img/slider-1.jpg" alt="Random first slide">
                        </div>
                        <a class="img-text" href="">
                            <div class="carousel-caption">
                                <h3>First slide label</h3>
                                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                            </div>
                        </a>
                    </ng-template>
                    <ng-template ngbSlide>
                        <div class="picsum-img-wrapper">
                            <img src="../../../assets/img/slider-2.jpg" alt="Random second slide">
                        </div>
                        <a class="img-text" href="">
                            <div class="carousel-caption">
                                <h3>Second slide label</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>
                        </a>
                    </ng-template>
                    <ng-template ngbSlide>
                        <div class="picsum-img-wrapper">
                            <img src="../../../assets/img/slider-3.jpg" alt="Random third slide">
                        </div>
                        <a class="img-text" href="">
                            <div class="carousel-caption">
                                <h3>Third slide label</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>
                        </a>
                    </ng-template>
                </ngb-carousel>
            </div>
            <div class="col-md-3">
                <div class="header-img">
                    <div class="img-item">
                        <img src="assets/img/category-1.jpg" />
                        <a class="img-text" href="">
                            <p>Some text goes here that describes the image</p>
                        </a>
                    </div>
                    <div class="img-item">
                        <img src="assets/img/category-2.jpg" />
                        <a class="img-text" href="">
                            <p>Some text goes here that describes the image</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Main Slider End -->





<!-- Feature Start-->
<div class="feature">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-4 col-md-6 feature-col">
                <div class="feature-content">
                    <i class="fa fa-truck"></i>
                    <h2>Worldwide Delivery</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur elit
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 feature-col">
                <div class="feature-content">
                    <i class="fa fa-sync-alt"></i>
                    <h2>90 Days Return</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur elit
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 feature-col">
                <div class="feature-content">
                    <i class="fa fa-comments"></i>
                    <h2>24/7 Support</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur elit
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Feature End-->

<!-- Category Start-->
<div class="category">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="category-item ch-400">
                    <img src="../../../assets/picture/s1.jpg" />
                    <a class="category-name" href="">
                        <p>Some text goes here that describes the image</p>
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="category-item ch-250">
                    <img src="../../../assets/picture/s2.jpg" />
                    <a class="category-name" href="">
                        <p>Some text goes here that describes the image</p>
                    </a>
                </div>
                <div class="category-item ch-150">
                    <img src="../../../assets/picture/s3.jpg" />
                    <a class="category-name" href="">
                        <p>Some text goes here that describes the image</p>
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="category-item ch-150">
                    <img src="../../../assets/picture/s1.jpg" />
                    <a class="category-name" href="">
                        <p>Some text goes here that describes the image</p>
                    </a>
                </div>
                <div class="category-item ch-250">
                    <img src="../../../assets/picture/s3.jpg" />
                    <a class="category-name" href="">
                        <p>Some text goes here that describes the image</p>
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="category-item ch-400">
                    <img src="../../../assets/picture/s2.jpg" />
                    <a class="category-name" href="">
                        <p>Some text goes here that describes the image</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Category End-->

<!-- Call to Action Start -->
<div class="call-to-action">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-6">
                <h1>call us for any queries</h1>
            </div>
            <div class="col-md-6">
                <a href="tel:0395821384"
                    style="border:1px solid #FFFFFF; width: max-content;height: 50px;text-align: center;padding:15px;">+84395821384</a>
            </div>
        </div>
    </div>
</div>
<!-- Call to Action End -->

<!-- Featured Product Start -->
<div class="featured-product product" style="margin: auto;">
    <div class="container-fluid">
        <div class="section-header " style="width:1750px;margin: auto;margin-bottom: 0;">
            <h1><b>Featured Product</b></h1>
        </div>
        <!-- <ngb-carousel>
            <ng-template ngbSlide *ngFor="let slide of slides" > -->
                <div class="row align-items-center product-slider product-slider-4" style="margin-top: 30px;">
                    <div
                    class="col-md-3"
                    *ngFor="
                      let item of listProduct
                       
                        | paginate
                          : {
                              id: 'listing_pagination',
                              itemsPerPage: 4,
                              currentPage: page
                            }
                    "
                  >                        <div class="product-item ">
                            <div class="product-title">
                                <a href="#">{{item.name}}</a>
                                <div class="ratting">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                            <div class="product-image">
                                <a href="product-detail.html">
                                    <img src="../../../assets/picture/{{item.image}}" alt="Product Image">
                                </a>
                                <div class="product-action">
                                    <a href="#"><i class="fa fa-cart-plus"></i></a>
                                    <a href="#"><i class="fa fa-heart"></i></a>
                                    <a href="#"><i class="fa fa-search"></i></a>
                                </div>
                            </div>
                            <div class="product-price" >
                                <h3 style="text-align: center; color: white;"> {{item.price|currency:"VND"}}</h3>
                                <button class="btn btn-cart justify-content-center bg-red">
                                    <i class="fa fa-shopping-cart"></i>
                                    Buy Now
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            <!-- </ng-template>
        </ngb-carousel> -->
    </div>
</div>

    <!-- Pagination Start -->
    <div class="col-md-12">
        <nav aria-label="Page navigation example">
          <pagination-controls
            class="pagination justify-content-center"
            id="listing_pagination"
            (pageChange)="page = $event"
          ></pagination-controls>
        </nav>
      </div>
      <!-- Pagination Start -->



<!-- Featured Product End -->

<!-- 
<div class="row align-items-center product-slider product-slider-4" style="margin-top: 30px;">
    <ngb-carousel>
                   <ng-template ngbSlide class="col-lg-3" *ngFor="let item of listProduct">
                        <div class="product-item ">
                            <div class="product-title">
                                <a href="#">{{item.name}}</a>
                                <div class="ratting">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                            <div class="product-image">
                                <a href="product-detail.html">
                                    <img src="../../../assets/picture/{{item.image}}" alt="Product Image">
                                </a>
                                <div class="product-action">
                                    <a href="#"><i class="fa fa-cart-plus"></i></a>
                                    <a href="#"><i class="fa fa-heart"></i></a>
                                    <a href="#"><i class="fa fa-search"></i></a>
                                </div>
                            </div>
                            <div class="product-price">
                                <h3>{{item.price|currency:"VND"}}</h3>
                                <button class="btn btn-cart justify-content-center bg-pink">
                                    <i class="fa fa-shopping-cart"></i>
                                    Buy Now
                                </button>
                            </div>
                        </div>
                    </ng-template>
                </ngb-carousel>
                    </div> -->

                    



                     <!-- <ngb-carousel>
            <ng-template ngbSlide *ngFor="let slide of slides" > -->
                <!-- <div class="row align-items-center product-slider product-slider-4" style="margin-top: 30px;">
                    <div class="col-lg-3" *ngFor="let item of listProduct">
                         <div class="product-item ">
                             <div class="product-title">
                                 <a href="#">{{item.name}}</a>
                                 <div class="ratting">
                                     <i class="fa fa-star"></i>
                                     <i class="fa fa-star"></i>
                                     <i class="fa fa-star"></i>
                                     <i class="fa fa-star"></i>
                                     <i class="fa fa-star"></i>
                                 </div>
                             </div>
                             <div class="product-image">
                                 <a href="product-detail.html">
                                     <img src="../../../assets/picture/{{item.image}}" alt="Product Image">
                                 </a>
                                 <div class="product-action">
                                     <a href="#"><i class="fa fa-cart-plus"></i></a>
                                     <a href="#"><i class="fa fa-heart"></i></a>
                                     <a href="#"><i class="fa fa-search"></i></a>
                                 </div>
                             </div>
                             <div class="product-price">
                                 <h3>{{item.price|currency:"VND"}}</h3>
                                 <button class="btn btn-cart justify-content-center bg-red">
                                     <i class="fa fa-shopping-cart"></i>
                                     Buy Now
                                 </button>
                             </div>
                         </div>
                     </div>
                 </div> -->
             <!-- </ng-template>
         </ngb-carousel> -->
     <!-- </div>
 </div> -->
 