<div style="padding: 2%;">
  <div class="card card-primary card-outline">
    <div class="card-header">
      <h2 class="card-title" style="font-weight: 700; margin-bottom: -2px;">Đơn đặt hàng</h2>
    </div>
    <mat-tab-group>
      <mat-tab label="Chưa Duyệt">
        <!-- /.card-header -->
        <div class="card-body p-0">
          <div class="mailbox-controls">
            <!-- /.float-right -->
          </div>
          <div class="table-responsive mailbox-messages">
            <table class="table table-hover table-striped">
              <thead>
                <tr style="font-size: 16px; background-color:#DDDDDD;">
                  <th>Id</th>
                  <th>Date Created</th>
                  <th>Address</th>
                  <th>Status</th>
                  <th>Control</th>
                </tr>
              </thead>
              <tbody>

                <tr style="font-size: 16px;" *ngFor="let order of orderStatus1 | paginate
                  : {
                      id: 'listing_pagination',
                      itemsPerPage:8 ,
                      currentPage: page
                    }">
                  <td>{{order.id}}</td>
                  <!-- <td>{{orders.user_Id}}</td> -->
                  <td>{{order.dateCreated}}</td>
                  <td>{{order.address}}</td>
                  <td>{{order.status}}</td>
                  <td>
                    <button type="button" data-toggle="modal" class="btn btn-success" (click)="updateStatus(order.id)">
                      <i class="fas fa-check"></i>
                    </button>
                    <button type="button" data-toggle="modal" [attr.data-target]="'#modalView-1-'+order.id"
                      class="btn btn-warning">
                      <i class="fas fa-ellipsis-h"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
            <pagination-controls class="pagination justify-content-center" id="listing_pagination"
              (pageChange)="page = $event">
            </pagination-controls>
            <!-- /.table -->
          </div>
          <!-- /.mail-box-messages -->
        </div>
        <!-- /.card-body -->
      </mat-tab>
      <mat-tab label="Đã Duyệt">
        <div class="card-body p-0">
          <div class="mailbox-controls">
            <!-- /.float-right -->
          </div>
          <div class="table-responsive mailbox-messages">
            <table class="table table-hover table-striped">
              <tbody>
                <tr style="font-size: 16px; background-color:#DDDDDD;">
                  <th>Id</th>
                  <th>Date Created</th>
                  <th>Address</th>
                  <th>Status</th>
                  <th>Control</th>
                </tr>
                <tr style="font-size: 16px;" *ngFor="let order of orderStatus2|paginate
                  : {
                      id: 'listing_pagination_2',
                      itemsPerPage:8 ,
                      currentPage: page1
                    }">
                  <td>{{order.id}}</td>
                  <!-- <td>{{orders.user_Id}}</td> -->
                  <td>{{order.dateCreated}}</td>
                  <td>{{order.address}}</td>
                  <td>{{order.status}}</td>
                  <td>
                    <button type="button" data-toggle="modal" class="btn btn-warning" [attr.data-target]="'#modalView-2-'+order.id">
                      <i class="fas fa-ellipsis-h"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
            <pagination-controls class="pagination justify-content-center" id="listing_pagination_2"
              (pageChange)="page1 = $event">
            </pagination-controls>
            <!-- /.table -->
          </div>
          <!-- /.mail-box-messages -->
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>

<div *ngFor="let order of orderStatus1">
  <!-- Modal -->
  <div class="modal fade" [attr.id]="'modalView-1-'+order.id" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h1><b>Product List</b></h1>
          <table class="table table-dark">
            <thead>
              <tr>
                <th>Product Name</th>
                <th>Image</th>
                <th>Quantity</th>
                <th>Price</th>

              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of order.orderDetails">
                <td>{{ item.productName }}</td>
                <td>
                  <img src="../../../assets/picture/{{getImageProduct(item.productId) }}" alt="" />
                </td>
                <td>{{ item.amount }}</td>
                <td>{{ item.price }}</td>

              </tr>
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngFor="let order of orderStatus2">
  <!-- Modal -->
  <div class="modal fade" [attr.id]="'modalView-2-'+order.id" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h1><b>Product List</b></h1>
          <table class="table table-dark">
            <thead>
              <tr>
                <th>Product Name</th>
                <th>Image</th>
                <th>Quantity</th>
                <th>Price</th>

              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of order.orderDetails">
                <td>{{ item.productName }}</td>
                <td>
                  <img src="../../../assets/picture/{{getImageProduct(item.productId) }}" alt="" />
                </td>
                <td>{{ item.amount }}</td>
                <td>{{ item.price }}</td>

              </tr>
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>