tr td #button_approve{
    font-size: 18px;
    background-color: yellow;
    margin-right: 10px;
}

  @media screen and (min-width: 676px) {
    .modal-dialog {
      max-width: 1500px !important;
      /* New width for default modal */
    }
  }

