<div style="padding: 2%;">
  <div class="card card-primary card-outline">
    <div class="card-header">
      <h3 class="card-title">Sản phẩm</h3>

      <div class="card-tools">
        <div class="input-group input-group-sm">
          <input #inputForSearch (keyup)="search(inputForSearch.value)" type="text" class="form-control"
            placeholder="Tìm sản phẩm">
          <div class="input-group-append">
            <div class="btn btn-primary">
              <i class="fas fa-search"></i>
            </div>
          </div>
        </div>
      </div>
      <!-- /.card-tools -->
    </div>
    <!-- /.card-header -->
    <div class="card-body p-0">
      <div class="mailbox-controls">
        <button type="button" data-bs-toggle="modal" data-bs-target="#addModal" class="btn btn-default btn-sm">
          <i class="fas fa-plus-circle"> Thêm sản phẩm</i>
        </button>
        <!-- Check all button -->
        <button type="button" class="btn btn-default btn-sm checkbox-toggle"><i class="far fa-square"></i>
        </button>
        <div class="btn-group">
          <button type="button" class="btn btn-default btn-sm">
            <i class="far fa-trash-alt"></i>
          </button>
          <button type="button" class="btn btn-default btn-sm">
            <i class="fas fa-reply"></i>
          </button>
          <button type="button" class="btn btn-default btn-sm">
            <i class="fas fa-share"></i>
          </button>
        </div>
        <!-- /.btn-group -->
        <button type="button" class="btn btn-default btn-sm">
          <i class="fas fa-sync-alt"></i>
        </button>
        <div class="float-right">
          1-50/200
          <div class="btn-group">
            <button type="button" class="btn btn-default btn-sm">
              <i class="fas fa-chevron-left"></i>
            </button>
            <button type="button" class="btn btn-default btn-sm">
              <i class="fas fa-chevron-right"></i>
            </button>
          </div>
          <!-- /.btn-group -->
        </div>
        <!-- /.float-right -->
      </div>
      <div class="table-responsive mailbox-messages">
        <table class="table table-hover table-striped">
          <tbody>
            <tr>
              <th>Hình ảnh</th>
              <th>Mã sản phẩm</th>
              <th>Tên sản phẩm</th>
              <th>Số lượng</th>
              <th>Giá</th>
              <th>Chi tiết</th>
              <th>Trạng thái</th>
              <th></th>
            </tr>
            <!-- 
                <tr *ngFor="let p of products">
                    <td><img src="{{p.image}}" style="width: 50px; height: 50px;"></td>
                    <td>{{p.id}}</td>
                    <td>{{p.name}}</td>
                    <td>{{p.amount}}</td>
                    <td>{{p.price}}</td>
                    <td>{{p.details}}</td>
                    <td style="padding-left: 30px;">
                      <select class="status-select" style="width:110px;"  data-sortorder="">
                        <option value="index">{{p.status}} </option>
                      </select>
                    </td>
                    <td>
                <button type="button" class="btn btn-default btn-sm">
                  <i class="fas fa-trash"></i>
                </button>
                <button type="button" class="btn btn-default btn-sm">
                  <i class="fas fa-edit"></i>
                </button>
                <button type="button" class="btn btn-default btn-sm">
                  <i class="fas fa-eye"></i>
                </button>
              </td>
                </tr>
                 -->
            <tr>
              <td>a</td>
              <td>a</td>
              <td>a</td>
              <td>a</td>
              <td>a</td>
              <td>a</td>
              <td>
                <select class="status-select" style="width:110px;" data-sortorder="">
                  <option value="index">Kinh doanh </option>
                  <option value="sortData"> Ngừng kinh doanh </option>
                </select>
              </td>
              <td>
                <button type="button" class="btn btn-default btn-sm">
                  <i class="fas fa-trash"></i>
                </button>
                <button type="button" class="btn btn-default btn-sm">
                  <i class="fas fa-edit"></i>
                </button>
                <button type="button" class="btn btn-default btn-sm">
                  <i class="fas fa-eye"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <!-- /.table -->
      </div>
      <!-- /.mail-box-messages -->
    </div>
    <!-- /.card-body -->
    <div class="card-footer p-0">
      <div class="mailbox-controls">
        <!-- Check all button -->
        <button type="button" class="btn btn-default btn-sm checkbox-toggle">
          <i class="far fa-square"></i>
        </button>
        <div class="btn-group">
          <button type="button" class="btn btn-default btn-sm">
            <i class="far fa-trash-alt"></i>
          </button>
          <button type="button" class="btn btn-default btn-sm">
            <i class="fas fa-reply"></i>
          </button>
          <button type="button" class="btn btn-default btn-sm">
            <i class="fas fa-share"></i>
          </button>
        </div>
        <!-- /.btn-group -->
        <button type="button" class="btn btn-default btn-sm">
          <i class="fas fa-sync-alt"></i>
        </button>
        <div class="float-right">
          1-50/200
          <div class="btn-group">
            <button type="button" class="btn btn-default btn-sm">
              <i class="fas fa-chevron-left"></i>
            </button>
            <button type="button" class="btn btn-default btn-sm">
              <i class="fas fa-chevron-right"></i>
            </button>
          </div>
          <!-- /.btn-group -->
        </div>
        <!-- /.float-right -->
      </div>
    </div>
  </div>
</div>



<!-- Modal for add products -->
<!-- Button trigger modal -->
<!-- Modal -->
<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Product</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-3">
              <img class="img-thumbnail" id="AddEmpImage" style="width: 100px; height: 100px" src="" alt="">
            </div>
            <div class="col-md-9">
              <input id="image" type="file" style="margin-left: 10px" (change)="onSelect($event)" accept="image/*">
            </div>
          </div><br>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary">Add Product</button>
      </div>
    </div>
  </div>
</div>