<!-- Cart Start -->
<div class="cart-page">
  <div class="container-fluid">
    <div *ngIf="items.length === 0" class="cart-page-inner">
      YOUR CART IS EMPTY
    </div>
    <div class="row" *ngIf="items.length > 0">
      <div class="col-lg-8">
        <div class="cart-page-inner">
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead class="thead-dark">
                <tr>
                  <th>Product</th>
                  <th>Price</th>
                  <th>Quantity</th>
                  <th>Total</th>
                  <th>Remove</th>
                </tr>
              </thead>
              <tbody class="align-middle" *ngFor="let item of items">
                <tr>
                  <td>
                    <div class="img">
                      <a href="#"><img src="../../../assets/picture/{{getImageProduct(item.productId) }}"
                          alt="Image" /></a>
                      <p>{{ item.productName }}</p>
                    </div>
                  </td>
                  <td>{{ item.price | currency: "VND" }}</td>
                  <td>
                    <div>
                      <button class="btn-minus" (click)="decrease(item)">
                        <i class="fa fa-minus"></i>
                      </button>
                      <input type="text" value="{{ item.qty }}" />
                      <button class="btn-plus" (click)="increase(item)">
                        <i class="fa fa-plus"></i>
                      </button>
                    </div>
                  </td>
                  <td>{{ item.price * item.qty | currency: "VND" }}</td>
                  <td>
                    <button>
                      <i class="fa fa-trash" (click)="deleteItem(item)"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="cart-page-inner">
          <div class="row">
            <div class="col-md-12">
              <div class="cart-summary">
                <div class="cart-content">
                  <h1>Cart Summary</h1>
                  <p *ngFor="let item of items">
                    {{ item.productName
                    }}<span>{{ item.price * item.qty | currency: "VND" }}</span>
                  </p>
                  <p>
                    Shipping Cost<span>{{ 300000 | currency: "VND" }}</span>
                  </p>
                  <h2>
                    Grand Total<span>{{
                      sumTotal()+ 300000 | currency: "VND"
                      }}</span>
                  </h2>
                </div>
                <div class="cart-btn">
                  <button>Update Cart</button>
                  <button data-toggle="modal"  data-target="#modelId">
                    Checkout
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12" style="padding-top: 30px">
            <div class="coupon">
              <button (click)="deleteCart()">Delete Cart</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Cart End -->

<!-- Modal -->
<div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true"
  *ngIf='(currentUser$|async)'>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title">Thực hiện đặt hàng</h1>
        <button id="close" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <form class="row" [formGroup]="formModel">
            <div class="col col-lg-4">
              <h1><b>Thông tin khách hàng</b></h1>
              <div class="row">
                <div class="col col-lg-12">
                  <div class="form-group" style="display: none">
                    <label for="">Id</label>
                    <input type="text" formControlName="user_id" class="form-control" readonly />
                  </div>
                  <div class="form-group">
                    <label for="">Họ</label>
                    <input type="text" class="form-control" value="{{ user.lastName}}" readonly />
                  </div>
                  <div class="form-group">
                    <label for="">Tên</label>
                    <input type="text" class="form-control" value="{{ user.firstName }}" readonly />
                  </div>
                  <div class="form-group">
                    <label for="">Address</label>
                    <textarea class="form-control" formControlName="address" rows="5" cols="50"
                      wrap="physical"></textarea>
                    <mat-error *ngIf="
                        formModel.get('address')?.touched &&
                        formModel.get('address')?.errors?.required
                      ">Hãy nhập vào địa chỉ nhận hàng</mat-error>
                  </div>
                  <div class="form-group">
                    <label for="">Hình thức thanh toán</label>
                    <select formControlName="PaymentMethod" name="singleSelect" class="form-control" required>

                    </select><br>
                  </div>

                </div>
              </div>
            </div>
            <div class="col col-lg-8">
              <h1><b>Danh sách sản phẩm</b></h1>
              <table class="table table-dark">
                <thead>
                  <tr>
                    <th>Tên sản phẩm</th>
                    <th>Hình ảnh</th>
                    <th>Số lượng</th>
                    <th>Giá tiền</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of items">
                    <td>{{ item.productName }}</td>
                    <td>
                      <img style="width:100px;height:100px;" src="../../../assets/picture/{{ getImageProduct(item.productId)}}" alt="" />
                    </td>
                    <td>{{ item.qty }}</td>
                    <td>{{ item.price| currency:"VND"}}</td>
                  </tr>
                </tbody>
              </table>
              <h1 style="text-align: center">
                <b>Tổng tiền : {{ sumTotal() +300000| currency: "VND" }}</b>
              </h1>
            </div>
            <div class="col col-lg-12">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">
                Close
              </button>
              <button type="button" class="btn btn-primary" [disabled]="!formModel.valid" (click)="consoleData(formModel)">
                Save
              </button>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer"></div>
    </div>
  </div>
</div>