<!-- Cart Start -->

<div class="cart-page">
  <div class="container-fluid">
    <div *ngIf="items.length === 0" class="cart-page-inner">
      YOUR CART IS EMPTY
    </div>
    <div class="row" *ngIf="items.length > 0">
      <div class="col-lg-8">
        <div class="cart-page-inner">
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead class="thead-dark">
                <tr>
                  <th>Product</th>
                  <th>Price</th>
                  <th>Quantity</th>
                  <th>Total</th>
                  <th>Remove</th>
                </tr>
              </thead>
              <tbody class="align-middle" *ngFor="let item of items">
                <tr>
                  <td>
                    <div class="img">
                      <a href="#"><img src="../../../assets/picture/{{getImageProduct(item.productId) }}"
                          alt="Image" /></a>
                      <p>{{ item.productName }}</p>
                    </div>
                  </td>
                  <td>{{ item.price | currency: "VND" }}</td>
                  <td>
                    <div>
                      <button class="btn-minus" (click)="decrease(item)">
                        <i class="fa fa-minus"></i>
                      </button>
                      <input type="text" value="{{ item.qty }}" />
                      <button class="btn-plus" (click)="increase(item)">
                        <i class="fa fa-plus"></i>
                      </button>
                    </div>
                  </td>
                  <td>{{ item.price * item.qty | currency: "VND" }}</td>
                  <td>
                    <button>
                      <i class="fa fa-trash" (click)="deleteItem(item)"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="cart-page-inner">
          <div class="row">
            <div class="col-md-12">
              <div class="cart-summary">
                <div class="cart-content">
                  <h1>Cart Summary</h1>
                  <p *ngFor="let item of items">
                    {{ item.productName
                    }}<span>{{ item.price * item.qty | currency: "VND" }}</span>
                  </p>
                  <p>
                    Shipping Cost<span>{{ 300000 | currency: "VND" }}</span>
                  </p>
                  <h2>
                    Grand Total<span>{{
                      sumTotal()+ 300000 | currency: "VND"
                      }}</span>
                  </h2>
                </div>
                <div class="cart-btn">
                  <button (click)="deleteCart()">Delete Cart</button>
                  <button routerLink="/e-commerce/payment">
                    Checkout
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
